#delete {
    margin-top: 20%;
    margin-left:33%;
    background-color: rgba(226, 137, 222, 0.9);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    display:inline-block;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#update {
    margin-top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(226, 69, 69,0.9);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    display:inline-block;
    font-size: 20px;
    

}
#new {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:33%;
    background-color: rgba(233, 176, 90, 0.9);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3.55%;
    padding-right: 3.55%;
    text-decoration: none;
    text-align: center;
    display:inline-block;
    font-size: 20px;

}
#list {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(122, 236, 146, 0.9);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5.35%;
    padding-right: 5.35%;
    text-align: center;
    display:inline-block;
    font-size: 20px;
}
body{
background-size: cover;
}