<!DOCTYPE html>
<html>
<head>
<title>Tokemon-Database</title>
</head>
<link rel="stylesheet" href="tokemon.css">

<body background="final.jpg">

<div>
   <strong>
   <a id ="delete" href="deletetokemon">Delete Tokemon</a>
   <a id="update" href="updateTokemon">Update Tokemon</a>
   <br>
   <a id="new" href="newTokemon">Enter Tokemon</a>
   <a id="list" href="display">Display All</a>
</strong>

</div>

</body>

</html>
