<!DOCTYPE html>
<html>
<head>
<title>Enter-new</title>

</head>
<link rel="stylesheet" href="tokemon.css">

<body background="final.jpg">

<div>
    <form method ="POST" action ="/deleteTokemon" id="first">

Name: <input type="text" name="name" placeholder="Enter name">
Trainer's name: <input type="text" name="trainerName" placeholder="Enter Trainer">

<input type ="submit"/>

    </form>
</div>

</body>



</html>