<!DOCTYPE html>
<html>
<head>
<title>Enter-new</title>

</head>
<link rel="stylesheet" href="tokemon.css">

<body background="final.jpg">

<div id="box3">
    <form method ="POST" action ="/deleteTokemon" id="first">
<br>
<a id="up">Enter Name of Tokemon and Trainer which has to be deleted</a>
<br><br>
<a id="a">Name:</a> <input type="text" name="name" placeholder="Enter Tokemon name">
<b  id="b">Trainer's name:</a> <input type="text" name="trainerName" placeholder="Enter Trainer">
<br><br><br><br>
<input id="last" type ="submit"/>

    </form>
</div>
<a id="home" href="https://tokedex.herokuapp.com/">HOME</a>
</body>



</html>
