<!DOCTYPE html>
<html>
<head>
<title>Enter-new</title>

</head>
<link rel="stylesheet" href="tokemon.css">

<body background="final.jpg">

<div>
    <form method ="POST" action ="/updateTokemon" id="first">

Name: <input type="text" name="name" placeholder="Enter name">
Trainer's name: <input type="text" name="trainerName" placeholder="Enter Trainer">
<br>
Weight: <input type="number" name="weight" placeholder="Enter weight">
Height: <input type="number" name="height" placeholder="Enter height">
Fly: <input type="number" name="fly" placeholder="Enter fly">

Fight: <input type="number" name="fight" placeholder="Enter fight">
<br>
Fire: <input type="number" name="fire" placeholder="Enter fire">
Water:<input type="number" name="water" placeholder="Enter water">
Electric: <input type="number" name="electric" placeholder="Enter electric">
Frozen: <input type="number" name="frozen" placeholder="Enter frozen">
<br>
<input type ="submit"/>

    </form>
</div>

</body>



</html>
